@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.container {
    display: flex;
    flex-direction: row;
}

body {
    font-family: sans-serif;
    max-width: 480px;
    margin: auto;
    padding: 20px;
}

.contents-height-100 {
    height: 100dvh;
}

.step {
    display: none;
}

.active {
    display: block;
}

button {
    margin-top: 20px;
    padding: 14px;
    width: 100%;
    font-size: 18px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.nav-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-btns button {
    width: 48%;
}

.summary-box {
    background: #f5f5f5;
    padding: 14px;
    border-radius: 8px;
    margin-top: 10px;
}

input,
select,
textarea {
    font-size: 16px !important;
}

/* ---- Loading Overlay ---- */
#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 16px;
    font-size: 18px;
    color: white;
}